* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #d8c9a8;
    color: #333;
    padding: 30px;
}

/* Judul */
h1 {
    text-align: center;
    color: #60241E;
    margin-bottom: 10px;
}

nav {
    text-align: center;
}

.selamat-datang {
    color: 60241E;
    text-align: center;
}

.deskripsi {
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Navbar */
nav {
    text-align: center;
    background-color: #60241E;
    padding: 15px;
    margin: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd6e7;
}

/* Gambar */
img {
    margin: 20px 0;
    border-radius: 15px;
    border: 5px solid #f5e6d3;
}
.profile-card {
    width: 260px;
    background-color: #f3dfc1;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
}

.profile-card img {
    width: 100%;
    display: block;
    margin: 0;
    border-radius: 0;
}

.profile-info {
    padding: 20px 10px;
}

.profile-info h3 {
    margin: 0 0 8px;
    color: #8b3a62;
}

.profile-info p {
    margin: 0;
    color: #555;
}
.profile-card {
    width: 260px;
    background-color: #f3dfc1;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;

    animation: muncul 1.2s ease-out both;
}

.profile-card img {
    width: 100%;
    display: block;
}

.profile-info {
    padding: 20px 10px;
}

img {
    animation: muncul linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

img {
    animation: muncul 1s ease-in-out;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.journey-photos {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.journey-photos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #8EA66B;
    border-radius: 15px;
    transition: 0.3s ease;
}

.journey-photos img:hover {
    transform: scale(1.08) rotate(2deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.journey-photos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #8EA66B;
    border-radius: 15px;

    animation: muncul 0.8s ease-out both;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Paragraf */
p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* List */
ul {
    margin-left: 25px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

/* Garis */
hr {
    border: none;
    border-top: 2px solid #95271d;
    margin: 25px 0;
}

/* Link */
a {
    color: #4f5b2a;
}

a:hover {
    color: #ad1457;
}

/* Footer */
footer {
    text-align: center;
    color: #123f36;
}